
.chat-page {
  min-height: 100vh;
  background: var(--blanco-UV);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.chat-page-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {

  .chat-page {
    height: 100vh;
    overflow: hidden;
  }

  .chat-page-container {
    height: 100vh;
  }
}
